<!DOCTYPE html>
<html lang="ru">
    <header>
        {% load static %}
          <nav class="navbar navbar-light" style="background-color: lightskyblue">
            <div class="container">
              <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'icon.bmp' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                <span style="color:red">Ya</span>tube
              </a>
            </div>
          </nav>
    </header>
</html>